---
layout: start-layout
---


<!DOCTYPE html>
<!--
	Gravity by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<body class="landing">
<!-- MARQUEE -->
<section id="marquee" class="marquee"><span>

{% for marquee in site.marquee %}
{{ marquee.content }}
{% endfor %}
</span>
</section>

<!-- Banner / HOME -->
<section id="banner">
{% for home in site.home %}
{{ home.content }}
{% endfor %}
</section>

<section id="features">
<div class="container" style="margin-top: 5em;">
<div class="row uniform">
{% for features in site.features %}
<section class="4u 12u(small) special">
<div class="icon {{ features.icon-class }}"></div>
{{ features.content }}
</section>
{% endfor %}
</div>
</div>
</section>

<hr>

<!-- NEWS -->
<section id="news" class="wrapper style1 special">
<div class="container">
<header class="major">
	<h1>Recent News</h1>
</header>
<div class="row 200%">
<div class="8u 12u$(medium)">
<!-- Content -->
	<section id="content" class="align-left">
		{% for post in site.posts limit:2 %}
		<header class="post-header">
			<h3 class="post-title" itemprop="name headline">{{ post.title }}</h3>
		</header>
		<div class="post-content" itemprop="articleBody">
		{{ post.content }}
		</div>
		<footer>
		<p class="post-meta align-right"><small>{{ post.date | date: "%-d-%b-%Y" }} {% if post.author %} • by {{ post.author }}{% endif %}</small></p>
		</footer>
		<hr>
		{% endfor %}
		<footer class="align-center">
		<p>looking for other posts? check out the</p>
		<a class="button small download" href="archive.html" title="check out the News Archive">NEWS ARCHIVE</a>
		</footer>
	</section>
</div>

<div class="4u$ 12u$(medium)">
<!-- Sidebar -->
	<section id="sidebar">
		{% for news_sidebar in site.news_sidebar %}
		<h3>{{ news_sidebar.title }}</h3>
		<section>
			<p>{{ news_sidebar.content }}</p>
		{% endfor %}
		</section>
	</section>
</div>
</div>

</div>
</section>

<!-- ABOUT -->
<section id="about" class="wrapper style1 special">
<div class="container">
<header class="major">
{% for about in site.about %}
  <h1>{{ about.title }}</h1>
</header>
<p>{{ about.content }}</p>
{% endfor %}


<!-- Developer Logos -->
<div class="row uniform">
{% for logos in site.logos %}
<section class="3u 4u(xlarge) 6u(medium) special">
<a href="{{ logos.link }}" title="{{ logos.title }}" target="{{ logos.target }}" class="{{ logos.logo-class }}"></a>
<div class="logo-text">{{ logos.content }}</div>
</section>
{% endfor %}
</div>
</div>
</section>

<hr>

<!-- CONTRIBUTE -->
<section id="contribute" class="wrapper style1 special">
<div class="container">
<header class="major">
{% for contribute in site.contribute %}
  <h1>{{ contribute.title }}</h1>
</header>
<p>{{ contribute.content }}</p>
{% endfor %}
</div>
</section>

</body>
</html>