---
layout: default-layout
---

<section id="news-archive" class="wrapper style1 special">
<div class="container">
	<header class="major">
		<h1>News Archive</h1>
	</header>
	<br/>	
	<ul class="alt post-list post-container">
    {% for post in site.posts %}
      <li>
        <header>
		<h3>{{ post.title | escape }}</h3>
		<p><small class="post-meta">{{ post.date | date: "%-d %b %Y" }} {% if post.author %} • {{ post.author }} {% endif %}</small></p>
		</header>
			<div class="post-box post-content" itemprop="articleBody">
			{{ post.content }}
			</div>
			<br/>
			<a href="{{ post.url | prepend: site.baseurl }}" class="button small icon fa-plus">read more</a>
		</li>
    {% endfor %}
	</ul>
</div>
</section>
