    <!-- Footer -->
      <div id="footer">
        <div class="container">
            <section class="special">
            <h3>Available resources to step in</h3>
<p><a href="http://lists.inai.de/iridium" target="_blank">Mailing list</a><br />
<a href="https://github.com/iridium-browser/iridium-browser/issues" target="_blank">Bug tracker @ GitHub</a><br />
For more development information, please <a href="development.html">check here</a></p>
            </section>
        </div>
        <div class="copyright">&copy; <a href="http://osb-alliance.de/" target="_blank">Open Source Business Alliance</a>. All rights reserved.</div>
      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/jquery.onvisible.min.js"></script>
      <script src="assets/js/jquery.poptrox.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>
