    <!-- Footer -->
      <div id="footer">
        <div class="container">
            <section class="special">
			{% for footer in site.footer %}
		  <h3>{{ footer.title }}</h3>
			</header>
			<p>{{ footer.content }}</p>
			{% endfor %}
            </section>
        </div>
        </div>

    <!-- Scripts -->
      <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/jquery.onvisible.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/jquery.poptrox.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="{{ site.baseurl }}/assets/js/main.js"></script>
