    <head>
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        
        <title>{% if page.title %}{{ site.title | escape }} | {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{% if page.description %}{{ page.description }}">{% endif %}
		<!-- Facebook -->
		<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
		<meta property="og:image" content="{{ "/images/Iridium-hotpic_FB.png" | prepend: site.baseurl | prepend: site.url }}">
		<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<meta property="og:site_name" content="{{ site.title }}">
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@iridiumbrowser">
		<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
		<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<meta property="twitter:image:src" content="{{ "/images/Iridium-hotpic_TW.png" | prepend: site.baseurl | prepend: site.url }}">
		<!-- GooglePlus -->
		<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
		<meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<meta itemprop="image" content="{{ "/images/Iridium-hotpic_Goo.png" | prepend: site.baseurl | prepend: site.url }}"/>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

        <link href="images/app-icons/AppIcon72x72.png" rel="apple-touch-icon" />
        <link href="images/app-icons/AppIcon76x76@2x.png" sizes="152x152" rel="apple-touch-icon" />	<!-- iOS 7 iPad (retina) -->
        <link href="images/app-icons/AppIcon72x72@2x.png" sizes="144x144" rel="apple-touch-icon" />	<!-- iOS 6 iPad (retina) -->
        <link href="images/app-icons/AppIcon60x60@2x.png" sizes="120x120" rel="apple-touch-icon" />	<!-- iOS 7 iPhone (retina) -->
        <link href="images/app-icons/AppIcon57x57@2x.png" sizes="114x114" rel="apple-touch-icon" />	<!-- iOS 6 iPhone (retina) -->
        <link href="images/app-icons/AppIcon76x76.png" sizes="76x76" rel="apple-touch-icon" />		<!-- iOS 7 iPad -->
        <link href="images/app-icons/AppIcon72x72.png" sizes="72x72" rel="apple-touch-icon" />		<!-- iOS 6 iPad -->
		<link href="images/app-icons/AppIcon57x57.png" sizes="57x57" rel="apple-touch-icon" />		<!-- iOS 6 iPhone -->
    </head>

