---
layout: default-layout
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<section id="news" class="wrapper style1 special">
		<div class="container">
		<header>
			<h3 class="post-title" itemprop="name headline"><h2>{{ page.title }}</h2></h3>
			<p class="post-meta"><small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d-%b-%Y" }}</time>{% if page.author %} • {{ page.author }} {% endif %}</small></p>
		</header>
		<div class="post-content" itemprop="articleBody">
			{{ content }}
		</div>

		<a href="https://twitter.com/intent/tweet?text=News: {{ page.title }}" data-size="large" class="twitter-share-button" >Tweet</a>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<hr>
		<div class="row">
			<div class="3u align-left">{% if page.previous.url %}
			<a class="button small special" title="previous post" href="{{page.previous.url}}">&#10094;</a>{% endif %}&nbsp;</div>

			<div class="6u align-center"><a class="button small" href="../../../../news-archive.html" title="News Archive">News Archive</a></div>

			<div class="3u$ align-right">{% if page.next.url %} &nbsp;
			<a class="button small special" title="next post" href="{{page.next.url}}">&#10095;</a>{% endif %}</div>
		</div>
	</section>
</article>